<div class="container" [ngClass]="{'position-left' : position==='left', 'position-right' : position==='right'}">
    <div class="board">
        <div class="header">
            <h1>{{header}}</h1>
        </div>
    
        <div class="buttons-wrapper">
            <span class="button-wrapper"><button class="global-stats" (click)="switchStats(true)">GLOBAL STATS</button></span>
            <span class="button-wrapper"><button class="own-user-stats" (click)="switchStats(false)">MY STATS</button></span>
            <span class="button-highlight" [ngClass]="{'user-stats' : !globalStats}"></span>
        </div>

        <div class="buttons-wrapper hints" *ngIf="hints !== 0 && globalStats">
            <p>Hints :</p>
            <span class="hints-wrapper">
                <span class="button-wrapper" *ngFor="let hint of toArray(hints+1)">
                    <button (click)="selectHint(hint)">{{hint}}</button>
                </span>
            </span>
            <span #hintSelector class="hint-selector" [ngStyle]="{'transform' : 'translateX('+(-hints * 22)+'px)'}"></span>
        </div>

        <div class="stats-list">
            <span *ngIf="globalStats">
                <div class="user-result" *ngFor="let gameStat of gameStats; let i=index">
                    <p class="order">{{order[i]}}.</p>
                    <p class="username" id="Player">{{gameStat.username}}</p>
                    <p class="minutes" id="Minutes">{{gameStat.minutes}}</p>
                    <p class="seconds" id="Seconds">{{gameStat.seconds}}</p>
                </div>
            </span>

            <span *ngIf="!globalStats">
                <div class="user-result" *ngFor="let gameStat of userGameStats; let i=index">
                    <p class="order">{{order[i]}}.</p>
                    <p class="minutes" id="Minutes">{{gameStat.minutes}}</p>
                    <p class="seconds" id="Seconds">{{gameStat.seconds}}</p>
                    <p class="hints" id="Hints Nb">{{gameStat.hints}}</p>
                </div>
            </span>
        </div>
    </div>
</div>
