<div class="instructions-exit">
    <span class="button-wrapper">
        <div class="instructions button" (click)="showInstructionsList()">?</div>
    </span>
    <span class="button-wrapper">
        <div class="exit button" (click)="showExitGameDialogue()">X</div>
    </span>
</div>

<div class="overlay" *ngIf="showInstructions || exitGameDialogueShown">
    <div class="instructions-list" *ngIf="showInstructions">
        <span class="button-wrapper">
            <div class="close-instructions button" (click)="hideInstructions()">close</div>
        </span>
        <div class="instructions">
            <p class="instruction" *ngFor="let instruction of instructions; let i = index">{{i+1}}.&nbsp;{{instruction}}</p>
        </div>
    </div>

    <div class="exit-dialogue" *ngIf="exitGameDialogueShown">
        <p class="exit-message">Are You Sure?</p>
        <div class="yes-no-buttons">
            <span class="button-wrapper">
                <div class="exit-yes button" routerLink="/games-list">Yes</div>
            </span>
            <span class="button-wrapper">
                <div class="exit-no button" (click)="hideExitGameDialogue()">No</div>
            </span>
        </div>
    </div>
</div>


<div class="game-controls" [ngClass]="{'hide-controls' : hideControls}">
    <span class="button-wrapper">
        <div class="hide-controls-section button" (click)="showHideControlsSection()">{{controlsVisibilityButton}}</div>
    </span>
    <span class="button-wrapper" *ngIf="!gameStarted">
        <div class="start-game button" (click)="startGame()">Start</div>
    </span>
    <span class="button-wrapper" *ngIf="gameStarted">
        <div class="stop-resume-game button" *ngIf="gameStopped" (click)="StopResumeGame()">Resume</div>
        <div class="stop-resume-game button" *ngIf="!gameStopped" (click)="StopResumeGame()">Stop</div>
    </span>
    <span class="button-wrapper" *ngIf="numberOfHintsLeft != 0">
        <div class="show-hint button" [attr.remaining-hints]="numberOfHintsLeft" (click)="showHint()">Hints</div>
    </span>
</div>