<div class="instructions-exit">
    <span class="button-wrapper">
        <button class="instructions" (click)="showInstructionsList()">?</button>
    </span>
    <span class="button-wrapper">
        <button class="exit" (click)="showExitGameDialogue()">X</button>
    </span>
</div>

<div class="overlay" *ngIf="showInstructions || exitGameDialogueShown">
    <div class="instructions-list" *ngIf="showInstructions">
        <span class="button-wrapper">
            <button class="close-instructions" (click)="hideInstructions()">close</button>
        </span>
    </div>

    <div class="exit-dialogue" *ngIf="exitGameDialogueShown">
        <p class="exit-message">Are You Sure?</p>
        <div class="yes-no-buttons">
            <span class="button-wrapper">
                <button class="exit-yes" routerLink="/games-list">Yes</button>
            </span>
            <span class="button-wrapper">
                <button class="exit-no" (click)="hideExitGameDialogue()">No</button>
            </span>
        </div>
    </div>
</div>


<div class="game-controls" [ngClass]="{'hide-controls' : hideControls}">
    <span class="button-wrapper">
        <button class="hide-controls-section" (click)="showHideControlsSection()">{{controlsVisibilityButton}}</button>
    </span>
    <span class="button-wrapper" *ngIf="!gameStarted">
        <button class="start-game" (click)="startGame()">Start</button>
    </span>
    <span class="button-wrapper" *ngIf="gameStarted">
        <button class="stop-resume-game" *ngIf="gameStopped" (click)="StopResumeGame()">Resume</button>
        <button class="stop-resume-game" *ngIf="!gameStopped" (click)="StopResumeGame()">Stop</button>
    </span>
    <span class="button-wrapper" *ngIf="numberOfHintsLeft != 0">
        <button class="show-hint" [attr.remaining-hints]="numberOfHintsLeft" (click)="showHint()">Hints</button>
    </span>
</div>