/* Fixed top center container with flex layout */
.container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-family: Arial;

    .minutes, .seconds {
        display: flex;
        overflow: hidden;

        div{
            cursor: default;
            width: 60px;
            height: 80px;
            background: linear-gradient(to bottom, #222 0%, #222 50%, #333 50%, #333 100%);
            color: var(--timberwolf);
            font-size: 3rem;
            text-align: center;
            line-height: 80px;
            margin: 0 2px;
            position: relative;
            box-shadow: 0 2px 5px rgba(0,0,0,0.3);

            &::before{
                content: attr(value);
                position: absolute;
                padding: inherit;
                top: -100%;
                left: 0;
                height: 100%; width: 100%;
                overflow: hidden;
                background: linear-gradient(to bottom, #222 0%, #222 50%, #333 50%, #333 100%);
                
            }
        }

        .animate{
            animation: goDown .8s;
            
        }
    }

    .separator {
        font-size: 3rem;
        font-weight: bold;
        color: #333;
        margin: 0 5px;
    }


}

@keyframes goDown {
    100%{
        transform: translateY(100%);
    }
}