<div class="container">
    <div class="game">
        <div *ngFor="let attempt of attempts; index as i" class="row" [ngClass]="{'destroy' : destroyAttempt[i]}">
            <p *ngFor="let letter of attempt; index as j" class="letter"
            [ngClass]="{'correct' : attemptsValidation[i][j]==1,
                        'incorrect' : attemptsValidation[i][j]==-1,
                        'close' : attemptsValidation[i][j]==-2,
                        'highlight' : i==currentAttempt && j==currentIndex
                        }">
            {{letter | uppercase}}
        </p>
        </div>
    </div>
</div>
<app-timer [startTimer]="startGame" [stopTimer]="gameSolved"></app-timer>
<app-game-toolbar [gameName]="gameName" (gameStartedEvent)="handleGameStart($event)" [numberOfHintsLeft]="2"/>
<app-game-result [gameName]="gameName" [isVisible]="gameSolved || currentAttempt===6" [isSuccess]="gameSolved"/>
<app-game-stats-board [gameName]="gameName"></app-game-stats-board>