.games-container{
    width: 90vw;
    height: max-content;
    margin: 80px auto;
    border-top: 4px solid white;
    border-bottom: 4px solid var(--rich-black);
    border-left: 4px solid white;
    border-right: 4px solid var(--rich-black);
    padding: 20px;
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--timberwolf);

    >*{
        
        width: 25%;
        height: max-content;
    }
}