.container{
    width: 100%;
    height: 100vh;
    background-color: var(--battleship-gray);
    display: flex;
    justify-content: center;
    align-items: center;

    .game{
        width: 500px;
        height: 700px;
        box-shadow: 0 0 20px black;
        border: 2px solid black;
        color: var(--vintage-green);
        text-align: center;
        position: relative;

        .screen{
            width: 100%;
            height: 12%;
            background-color: black;
            position: relative;
            overflow: hidden;

            .button-wrapper{
                position: absolute;
                width: 25%; height: 60%;
                background-color: var(--vintage-green);

                .startGameButton{
                    background-color: black;
                    border: 2px solid var(--vintage-green);
                    color: var(--vintage-green);
                    position: absolute;
                    top: 4px; left: 4px;
                    cursor: pointer;
                    width: 100%; height: 100%;
                    font-size: 2em;
    
    
                    &:active{
                        transform: translateX(-3px) translateY(-3px);
                    }
                }
            }

            .button-wrapper:nth-of-type(1){
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }

            .button-wrapper:nth-of-type(2){
                top: 0%;
                right: 0%;
                transform: translateX(-50%) translateY(-50%);
            }

            .button-wrapper:nth-of-type(3){
                top: 50%;
                left: 10%;
            }

            .button-wrapper:nth-of-type(4){
                top: 70%;
                right: 5%;
                transform: translateY(-50%);
            }

            .button-wrapper:nth-of-type(5){
                top: 10px;
                left: 10px;
                transform: translateX(-50%) translateY(-50%);
            }

            .game-screen{
                width: 90%; height: 95%;
                position: absolute;
                top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);

                .screen-text-left, .screen-text-right{
                    position: absolute;
                    top: 50%; transform: translateY(-50%);
                    font-size: 3em;
                    font-weight: bolder;
                    letter-spacing: 8px;
                    width: fit-content;
                }

                .screen-text-left{
                    left: 0;
                }

                .screen-text-right{
                    right: 0;
                    transform: scaleX(-1) translateY(-50%);
                }

                .screen-image-face{
                    height: 90%;
                }

                .game-lost{
                    animation: gameLost .3s linear;
                }

            }

            
        }

        .buttons{
            width: 100%;
            height: 8%;
            background-color: #111;
            display: flex;
            flex-direction: row;
            column-gap: 10px;

            .button-wrapper{

                >button{
                    cursor: pointer;
                    width: 70px;
                    height: 80%;
                    transform: translateY(10%) translateX(300%);
                    background-color: #444;
                    color: var(--vintage-green);
                    font-size: 1em;
                    font-weight: bolder;
                    opacity: .4;
                }

                .chosen-mode{
                    opacity: 1;
                    border: 1px solid var(--vintage-green);
                    box-shadow: inset 0 0 4px var(--vintage-green);
                }
            }
        }

        .mine-blocks{
            width: 100%;
            height: 80%;

            .rows{
                width: 100%;
                height: calc(100% / 16);
                display: flex;
                flex-direction: row;

                .row-block {
                    cursor: pointer;
                    width: calc(100% / 16 );
                    height: 100%;
                    justify-content: center;
                    text-align: center;
                    border: 1px solid black;
                    font-weight: bolder;
                    font-size: 1.7em;
                    box-shadow: inset 0 0 2px white;
                    color: black;
                    background-color: #36558F90;
                    position: relative;


                    &::after{
                        content: '';
                        position: absolute;
                        top: 0; height: 100%;
                        left: 0; width: 100%;
                        z-index: 999;
                        background-color: var(--timberwolf);
                        box-shadow: inset 0 0 5px black;
                    }

                    img{
                        width: 100%; height: 100%;
                    }

                    

                }

                .numbered-block-1{
                    background-color: var(--vintage-green);
                }

                .numbered-block-2{
                    background-color: #594459;
                }

                .numbered-block-3{
                    background-color: #2F1B25;
                    color: white;
                }

                .numbered-block-4{
                    background-color: #A0AAB2;
                }

                .numbered-block-5{
                    background-color: #A15E49;
                }

                .numbered-block-6{
                    background-color: #C7CEDB;
                }

                .numbered-block-7{
                    background-color: #E3D26F;
                }

                .numbered-block-8{
                    background-color: #91C1C3;
                }

                .uncover-block{
                    cursor: default;
                    &::after{
                        animation: uncover .2s forwards;
                    }
                }

                .flagged{
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0; left: 0; width: 100%; height: 100%;
                        z-index: 9999;
                        background-image: url('/icon/minesweeper-flag.png');
  background-size: contain; /* or cover depending on what you want */
  background-repeat: no-repeat;
  background-position: center;

                    }
                }

                
            }
        }
    }

    .game-info{
        position: absolute;
        left: 0; bottom: 0;
        transform: translateX(-100%);
        width: 200px;
        background-color: black;
        padding: 10px;

        p{
            text-align: start;
            width: 100%;
            font-weight: bolder;

            .number-wrapper{
                position: absolute;
                right: 10px;
                width: 20%;
                text-align: end;
                text-decoration: underline;
                font-family: Haettenschweiler, sans-serif;
            }
        }
    }

}

@keyframes uncover {
    100%{ opacity: 0;}
}

@keyframes gameLost {
    25%,70%{ transform: translateX(-4px);}
    50%,90%{ opacity: 0.3; transform: translateX(4px);}
    100%{ opacity: 1; transform: translateX(0);}
}