.overlay{
  width: 100%;
  height: 100vh;
  background-color: #000000b7;
  position: absolute;
  top: 0; left: 0;
  z-index: 9999;

  .screen-container{
    position: absolute;
    top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
    width: 400px; height: 200px;
    background-color: #000;
    color: var(--vintage-green);
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 5px var(--vintage-green), 0 0 10px var(--vintage-green);
    background-image: repeating-linear-gradient(
      to bottom,
      rgba(0, 255, 0, 0.1) 0px,
      rgba(0, 255, 0, 0.1) 1px,
      transparent 1px,
      transparent 3px
    );
    background-size: 100% 4px;

    .screen{
      border-radius: inherit;
      width: 100%; height: 100%;
      border: 4px solid var(--vintage-green);
      box-shadow: inset 0 0 10px var(--vintage-green), 0 0 4px var(--vintage-green);
      animation: flickerShadow 5s infinite;
      

      .close-button, .quit-button, .new-game-button{
        cursor: pointer;
        border-radius: 5px;
        box-shadow: inset 0 0 10px var(--vintage-green), 0 0 10px var(--vintage-green);
        border: 2px solid var(--vintage-green);
        font-weight: bolder;
        background-color: transparent; color: var(--vintage-green);
        text-shadow: 0 0 10px var(--vintage-green);
        font-size: 1.5em;
        position: absolute;
        animation: flicker 5s infinite;
      }

      .close-button{
        top: 10px; right: 10px;
        width: 30px; height: 40px;
      }

      .quit-button{
         bottom: 15px; right: 15px;
        width: 100px;
      }

      .new-game-button{
        width: 150px;
        bottom: 15px; left: 15px;
      }

      .message{
        position: absolute; top: 30%; left: 50%; transform: translateX(-50%);
        width: max-content;
        text-align: center;
        animation: flicker 5s infinite;
      }
    }
  }
}

@keyframes flicker {
  0%   { opacity: 1; }
  10%   { opacity: 1; }
  12%  { opacity: 0; }
  14%,26%,30%  { opacity: 1; }
  28%  { opacity: 0; }
  38%  { opacity: 1; }
  40%  { opacity: 0; }
  44%  { opacity: 1; }
  52%  { opacity: 0.9; }
  56%  { opacity: 0.5; }
  60%  { opacity: 1; }
  62%,70%  { opacity: 0; }
  72%  { opacity: 1; }
  80%  { opacity: 1; }
  82%  { opacity: 0; }
  84%,94%  { opacity: 1; }
  96%  { opacity: 0.8; }
  100% { opacity: 1; }
}

@keyframes flickerShadow {
  12%, 28%, 40%, 68%, 84%      { box-shadow: none; }
  20%, 30%, 42%, 70%, 90% { box-shadow: inset 0 0 10px var(--vintage-green), 0 0 4px var(--vintage-green); }
}